**/.DS_Store
output/html/*
output/pdf/*
output/pg/*
output/images/*
output/*.txt
*.tex
*.swp
jing.txt
*.html
src_pp/knowl/*
src_pp/webwork-extraction/*
src_pp/images/*
src_pp/dep-fix-output/*
index_t.ptx

Makefile.paths
